body {
  background-color: blue;
  background-image: url(fae455a17d04e92b7e72e2f9482d98c1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem; }

.btn {
  background-color: #777;
  color: #fff;
  font-size: 1.8rem; }

